* {
    margin: 0;
    padding: 0;
}

/* .gallery {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
    gap: 15px;
    
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.first {

    grid-row: 1 / 3;
}

.second {
    grid-row: 2 / 4;
}

.third {
    grid-column: 3 / 5;
}

.fourth {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
}

.error {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
} */


/* new */

.gallery {
    display: grid;
    grid-template: repeat(3, 200px) / repeat(4, 200px);
    justify-content: center;
    gap: 15px;
    grid-template-areas: 
                "tall1   normal1 wide1   wide1"
                "tall1   tall2   normal2 normal3"
                "normal4 tall2   wide2   wide2";
    
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.tall-1 {
    grid-area: tall1;
}
.tall-2 {
    grid-area: tall2;
}
.wide-1 {
    grid-area: wide1;
}
.wide-2 {
    grid-area: wide2;
}
.normal-1 {
    grid-area: normal1;
}
.normal-2 {
    grid-area: normal2;
}
.normal-3 {
    grid-area: normal3;
}
.normal-4 {
    grid-area: normal4;
}