* {
    margin: 0;
    padding: 0;
}

.title {
    clear: left;
}

.image-container {
    width: 25%;
    box-sizing: border-box;
    border: 3px solid gray;
    float: left;
    text-decoration: none;
    color: black;
}

.image-container:hover {
    border-color: black;
}

.image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.image-title {
    text-align: center;
    padding: 7px 0;
}

.text-content {
    width: 200px;
    height: 300px;
    background-color: green;
    overflow: auto;
}

.outer {
    background-color:red;
    height: 200px;
    width: 300px;
    overflow: auto;
}

.inner {
    height: 150px;
    width: 500px;
    background-color: green;
}