/* .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.element {
    background-color: lightblue;
    border: 1px solid red;
    box-sizing: border-box;

    width: 250px;
} */

/* .box {
    height: 500px;
    width: 500px;
    background-color: green;

    display: flex;
    justify-content: center;
    
}

.inner {
    height: 180px;
    width: 220px;
    background-color: red;
} */

/* .chart {
    width: 700px;
    height: 550px;
    border: 2px solid lightgray;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    align-items: flex-end;
}

.chart-line {
    display: block;
    width: 10%;
    background-color: lightblue;
}

.chart-line-red {
    background-color: red;
} */

ul.menu {
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.link {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    width: 300px;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.card-photo {
    width: 100%;
}

.card-name {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.card-price {
    font-size: 18px;
    color: darkgreen;
    margin-bottom: 30px;
}


.buy {
    display: block;
    text-decoration: none;
    background-color: lightgreen;
    color: black;
    padding: 18px 0;
}