/* .item {
    height: 200px;
    width: 200px;
} */

/* .item1 {
    background-color: #00000045;
}

.item2 {
    background-color: #20FC8F;
}

/* .item3 {
    background-color: rgb(152, 136, 165);
} */

/* .item3 {
    background-color: rgba(152, 136, 165, 0.1);
}

.item4 {
    background-color: hsl(231, 100%, 81%);
}  */

/* example 1 */

.image-wrapper {
    width: 450px;
    height: 550px;
    border: 2px solid black;
    position: relative;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-toner {
    height: 100%;
    width: 100%;
    /* background-color: #00000080; */
    /* background: linear-gradient(-50deg, #000000, transparent, red); */
    /* background: linear-gradient(90deg, rgba(255,28,0,1) 0%, rgba(230,255,0,1) 30%, rgba(0,212,255,1) 100%); */
    background: radial-gradient(circle, red, transparent, green);
    position: absolute;
    top: 0;
    left: 0;
}



/* example 2 */

/* .image-wrapper {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.image {
    height: 100%;
    width: 100%;
    display: block;
}

.image-wrapper:hover::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: #FFE74C80;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} */