@font-face {
    font-family: "Chuby";
    src: url("../fonts/Chuby.otf");
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Black.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-LightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}