

@import url("./fonts.css");


.title {
    /* text-shadow: -2px 5px 2px rgb(0, 220, 0); */
    /* text-shadow: 2px 2px 1px red, 4px 4px 1px blue; */
    /* text-shadow: 0 0 10px red; */
    box-shadow: 0 0 10px blue;
    /* font-family: "Chuby"; */
    font-family: "Nunito";
    font-weight: 200;
    font-style: italic;

}