@import url("./reset.css");

.wrapper {
    width: 1134px;
    margin: auto;
}

.brands-title {
    text-align: center;
    font-size: 36px;
    color: gray;
    margin-bottom: 58px;
}

.brands-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}