* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: lightgreen;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 100px) auto repeat(3, 100px);
    /* grid-template-columns: repeat(5, 100px); */
    /* grid-template-columns: auto auto auto auto auto auto auto auto auto auto; */
    /* grid-template-columns: 1fr 5fr; */
    /* grid-template-rows: 600px 600px; */
    /* justify-content: space-evenly;
    align-content: end; */
    grid-auto-rows: 750px;
}

.text {
    background-color: lightcoral;
    border: 1px solid black;
    box-sizing: border-box;
}