@import url("./reset.css");

body {
    font-family: 'Roboto';
}



.wrapper {
    width: 1199px;
    margin: auto;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    row-gap: 22px;
    column-gap: 30px;
}

.grid-image {
    width: 100%;
    transition: all 0.4s ease;
}

.grid-image:hover {
    transform: scale(1.1);
}

.about-title {
    font-size: 0;
    margin-bottom: 22px;
}

.about-title > span{
    font-size: 18px;
}

.yellow {
    color: #F1AD1D;
}

.info-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .about-button {
    width: 176px;
    display: block;
    background-color: #F1AD1D;
    height: 52px;
    line-height: 52px;
    text-align: center;
} */

.about-button {
    width: 176px;
    display: block;
    background-color: #F1AD1D;
    text-align: center;
    padding: 19px 0;
    text-decoration: none;
    color: white;
}

.about-button > span {
    color: black;
}