* {
    margin: 0;
    padding: 0;
}

:focus {
    outline: none;
}

/*  */

.form {
    width: 400px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgb(165, 165, 165);
    margin: auto;
}

.form input, button {
    display: block;
    width: 100%;
    margin: 5px;
    box-sizing: border-box;
    padding: 14px 0;
    border: none;
    text-align: center;
}

.form input {
    border-bottom: 2px solid rgb(165, 165, 165);
}

.form input:focus {
    border-bottom: 2px solid rgb(30, 255, 0);
}

.form input::placeholder {
    font-weight: 600;
}


.custom-checkbox {
    display: block;
    height: 20px;
    width: 20px;
    border: 2px solid gray;
}

.custom-checkbox img {
    display: none;
    width: 100%;
    height: 100%;
    user-select: none;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked + img {
    display: block;
}