* {
    margin: 0;
    padding: 0;
}

:focus {
    outline: none;
}

.feedback {
    margin: auto;
    width: 574px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.feedback input[name="name"] {
    grid-column: 1 / 3;
}

.feedback input[name="email"] {
    grid-column: 3 / 5;
}

.feedback textarea {
    grid-column: 1 / 5;
    height: 187px;
    resize: none;
}

.feedback input, textarea {
    padding: 21px 14px 13px 14px;
    font-size: 14px;
    font-family: "Lato";
    font-style: italic;
    font-weight: 300;
    background: rgba(17, 17, 17, 0.0001);
    border: 1px solid #929292;
}

.feedback button {
    background: #F1AD1D;
    padding: 16px 40px;
    border: none;
    font-family: "Lato";
    font-weight: 900;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

.feedback button:hover {
    background: #fcc44c
}

.feedback button:active {
    background: #d79609
}