* {
    margin: 0;
    padding: 0;
}

/* .section {
    height: 700px;
    border-bottom: 2px solid gray;
    box-sizing: border-box;
    position: relative;
}

.section::before {
    content: "";
    display: inline-block;
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("./airplane-tilt-bold-svgrepo-com.svg");
    background-size: contain;
    opacity: 0.05;

} */

/* .container {
    display: flex;
    justify-content: center;
}

.content {
    background-color: green;
    height: 450px;
    width: 300px;
    border-radius: 20px;
    margin: 60px;
    position: relative;
}

.content::before, .content::after {
    content: "";
    display: block;
    height: 450px;
    width: 300px;
    border-radius: 20px;
    position: absolute;
}

.content::before {
    background-color: blue;
    bottom: 5px;
    right: 5px;
    z-index: -1;
}

.content::after {
    background-color: rgb(178, 178, 2);
    bottom: 10px;
    right: 10px;
    z-index: -2;
} */

/* --- */

/* li:first-child {
    color: red;
} */

/* li:first-of-type {
    color: red;
} */

/*
li:last-child {
    color: green;
}

li:nth-child(3) {
    color: blue;
    font-size: 20px;
} */

/* li:first-of-type {
    color: red;
    font-size: 30px;
}

li:last-of-type {
    color: red;
    font-size: 30px;
} */

/* li:nth-child(even) {
    color: red;
    font-size: 30px;
} */

/* li:nth-child(5n - 3):hover {
    background-color: green;
}




button:hover {
    background-color: red;
}

button:active {
    background-color: green;
} */

.menu {
    display: flex;
    list-style: none;
    width: 500px;
    flex-wrap: wrap;
}

.menu > li {
    padding: 10px 0;
    width: 100px;
    border-right: 2px solid gray;
    box-sizing: border-box;
    text-align: center;
}

.menu > li:nth-child(5n) {
    border: none;
}

.menu > li:nth-child(5n - 4) {
    border-left: 2px solid gray;
}

