* {
    margin: 0;
    padding: 0;
}

.section {
    height: 700px;

}

.section-title {
    width: 100vw;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    position: sticky;
    top: 0;
}