body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 280px;
    background-color: rgb(89, 185, 118);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    
}

.header-subtitle {
    font-size: 18px;
}

.menu {
    height: 60px;
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 18px;
    padding-left: 20px;
}

.menu-link {
    text-decoration: none;
    color: white;
}

.body {
    display: flex;
}

.about {
    flex-basis: 350px;
    background-color: lightgray;
    box-sizing: border-box;
    flex-shrink: 0;
}

.about, .content {
    padding: 40px 15px;
}

.about-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-text {
    margin-bottom: 20px;
}

.about-photo {
    width: 100%;
}

.content {
    flex-grow: 1;
}

.content-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.content-text {
    margin-bottom: 20px;
}

.content-img {
    width: 100%;
}